<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>品牌管理</title>
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="../plugins/angularjs/angular.min.js"></script>
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">

	<script type="text/javascript">
        //1.定义一个模块

        var app = angular.module('pinyougou',['pagination']);//Ctr+alt+v

        //2.定义一个controller
        app.controller('brandController',function ($scope,$http) {
            //发送请求去查询数据库的数据
            $scope.findAll=function () {
                $http.get('../brand/findAll.do').success(
                    function (response) {//返回的数据就是[{},{}]
                        $scope.list=response;
                    }
                )
            }

            //初始值
            $scope.searchEntity={};

            //配置 分页的配置项
            $scope.paginationConf = {
                currentPage: 1,//当前的页码
                totalItems: 10,//总记录数
                itemsPerPage: 10,//每页显示多少行
                perPageOptions: [10, 20, 30, 40, 50],//可以选择的每页显示是的行数
                //当页码被改变的时候触发调用
                onChange: function(){
//                    $scope.findPage();
                    $scope.reloadList();
                }
            };
            $scope.reloadList=function(){
                $scope.search( $scope.paginationConf.currentPage, $scope.paginationConf.itemsPerPage);
            }



            //根据当前的页码 和每页显示的行数分页查询调用
            $scope.findPage=function () {
                $http.get('../brand/findPage.do?pageNum='+$scope.paginationConf.currentPage+"&pageSize="+$scope.paginationConf.itemsPerPage).success(
                    function (response) {//response 是PageResult
                        $scope.list=response.rows;//每页显示的行
                        $scope.paginationConf.totalItems=response.total;//总记录数
                    }
                );
            }
            //添加品牌
            $scope.save=function () {

                //如果entity中没有ID的值说明是新增
                var methodName="add";
                if($scope.entity.id!=null){
                    //如果entity中有id的值说明是更新
                    methodName="update";
                }
                $http.post('../brand/'+methodName+'.do',$scope.entity).success(
                    function (response) {//result
                        if(response.success){
                            //新增成功 刷新列表
                            $scope.reloadList();
                        }else{
                            alert(response.message);
                        }

                    }
                )


            }

            $scope.findOne=function (id) {
                $http.get('../brand/findOne.do?id='+id).success(
                    function (response) {//tbbrand
                        $scope.entity=response;
                    }
                )
            }
            //定义一个变量 是数组
            $scope.selectIds=[];//被选择的数组 id的集合

            //更新数组变量  当点击复选框的时候调用
            $scope.updateSelection=function ($event,id) {
                //$event就是获取dom的元素的封装的对象
                if($event.target.checked){
                    //被勾选
                    $scope.selectIds.push(id);//添加元素
                }else{
                    //取消勾选
                    //参数1：要删除元素的索引
                    //参数2：要删除的个数
                    $scope.selectIds.splice($scope.selectIds.indexOf(id),1);
                }

            }

            //删除选中的品牌
            $scope.dele=function () {
                $http.get('../brand/delete.do?ids='+$scope.selectIds).success(
                    function (response) {//返回的是result
                        if(response.success){
                            $scope.reloadList();//刷新列表
                        }else{
                            alert(response.message);
                        }
                    }
                )
            }

            $scope.search=function (pageNum,pageSize) {
                $http.post('../brand/search.do?pageNum='+pageNum+"&pageSize="+pageSize,$scope.searchEntity).success(
                    function (response) {//pageResult
                        $scope.list=response.rows;//每页显示的行
                        $scope.paginationConf.totalItems=response.total;//总记录数
                    }
                )
            }




        })

	</script>

</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="brandController">
<!-- .box-body -->
<div class="box-header with-border">
	<h3 class="box-title">品牌管理</h3>
</div>

<div class="box-body">

	<!-- 数据表格 -->
	<div class="table-box">

		<!--工具栏-->
		<div class="pull-left">
			<div class="form-group form-inline">
				<div class="btn-group">
					<button type="button" class="btn btn-default" title="新建" data-toggle="modal" ng-click="entity={}" data-target="#editModal" ><i class="fa fa-file-o"></i> 新建</button>
					<button type="button" class="btn btn-default" title="删除" ng-click="dele()"><i class="fa fa-trash-o"></i> 删除</button>
					<button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
				</div>
			</div>
		</div>
		<div class="box-tools pull-right">
			<div class="has-feedback">
				品牌名称：<input type="text" ng-model="searchEntity.name"/>
				首字母：<input type="text"  ng-model="searchEntity.firstChar"/>
				<button class="btn bg-olive btn-xs" ng-click="search(1,paginationConf.itemsPerPage)">搜索</button>
			</div>
		</div>
		<!--工具栏/-->

		<!--数据列表-->
		<table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			<thead>
			<tr>
				<th class="" style="padding-right:0px">
					<input id="selall" type="checkbox" class="icheckbox_square-blue">
				</th>
				<th class="sorting_asc">品牌ID</th>
				<th class="sorting">品牌名称</th>
				<th class="sorting">品牌首字母</th>
				<th class="text-center">操作</th>
			</tr>
			</thead>
			<tbody>
			{{selectIds}}
			<tr ng-repeat="entity in list">
				<td><input  type="checkbox" ng-click="updateSelection($event,entity.id)"></td>
				<td>{{entity.id}}</td>
				<td>{{entity.name}}</td>
				<td>{{entity.firstChar}}</td>
				<td class="text-center">
					<button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="findOne(entity.id)"  >修改</button>
				</td>
			</tr>
			</tbody>
		</table>
		<!--数据列表/-->
		<tm-pagination conf="paginationConf"></tm-pagination>

	</div>
	<!-- 数据表格 /-->




</div>
<!-- /.box-body -->

<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">品牌编辑</h3>
				aaaa{{entity}}
			</div>
			<div class="modal-body">
				<table class="table table-bordered table-striped"  width="800px">

					<tr>
						<td>品牌名称</td>
						<td><input  class="form-control" placeholder="品牌名称" ng-model="entity.name">  </td>
					</tr>
					<tr>
						<td>首字母</td>
						<td><input  class="form-control" placeholder="首字母" ng-model="entity.firstChar">  </td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
	</div>
</div>

</body>
</html>